In [1]:
import pandas as pd

In [2]:
kaggle_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [6]:
kaggle_metadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9419,False,NaN,14000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,12542,tt0357474,en,Belly of the Beast,"Jake and Sunti go to meet Mongkol, the leader ...",...,2003-12-30,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Father's Rage Knows No Limit,Belly of the Beast,False,4.8,38.0
12330,False,NaN,15000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,24624,tt0345461,en,The Detonator,"Sonni Griffith, a top US Secret Agent must pro...",...,2006-04-25,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Detonator,False,4.2,30.0
31489,False,NaN,0,"[{'id': 80, 'name': 'Crime'}]",NaN,134679,tt0075109,it,Pronto ad uccidere,"Ray Lovelock stars as Massimo, a young underco...",...,1976-10-08,0.0,94.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Meet Him And Die,False,5.0,1.0
23266,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,89547,tt0045578,en,Bright Road,"Based on the story, ""See How They Run,"" which ...",...,1953-04-17,0.0,68.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Bright Road,False,6.3,3.0
45037,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 35, 'na...",NaN,77519,tt0214878,fr,Le libertin,French philosopher Denis Diderot produces the ...,...,2000-03-15,0.0,100.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,The Libertine,False,6.4,4.0

In [14]:
ratings.sample(5)

          userId  movieId  rating   timestamp
21481756  223146    40339     3.5  1493020463
4616021    47391    49274     1.5  1491445299
7607345    78577     2617     3.0   939770146
24615997  255859     2908     5.0   979329603
14699058  152810     5792     4.0  1041863653